<div class="jumbotron bg-success text-white rounded-0">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1>Bayak
          <small class="h6">v1.0.0</small>
        </h1>
        <p class="lead">By PAT Social Media Team</p>
      </div>
      <!-- <div class="col-md">
        <div class="carbonads">
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- Content -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <input type='file' id="uploadBannerImage" (change)="readFile($event)" />
        <br>
        <div class="image_preview">
            <!-- <img id="image" class="imageToPreview" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" height="100%"/> -->
        </div>
    </div>
    <div class="col-md-6">
      <div>
        <!-- <img id="image2" src="../../assets/mt.png" width="400px" /> -->
        <canvas #canvas></canvas>
      </div>
      <span (click)="removeAlreadyPresentPreviewImg()">remove</span>
    </div>
  </div>
</div>
