<div class="jumbotron bg-success text-white rounded-0">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1>Bayak
          <small class="h6">v1.0.0</small>
        </h1>
        <p class="lead">By PAT Social Media Team</p>
      </div>
      <!-- <div class="col-md">
        <div class="carbonads">
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- Content -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <input type='file' id="uploadBannerImage" (change)="readFile($event)" />
        <br>
        <div class="image_preview">
        </div>
        <hr/>
        <div class="live_crop_preview_div"></div>
    </div>
    <div class="col-md-6">
      <div>
        <canvas id="canvas" #canvas></canvas>
      </div>
      <br>
      <hr/>
      <span (click)="removeAlreadyPresentPreviewImg()">remove</span>
      <span (click)="cropImage()">crop</span>
      |
      <a href="#" target="_blank" #downloadLink (click)="downloadCanvas(downloadLink)">
          <p>download</p>
      </a>
      
      <hr/>
      <div class="final_cropped_img_div">
        <img src="" alt="" id="cropped_img" />
      </div>
    </div>
  </div>
</div>
